<launch>
    <rosparam file="$(find youbot_control)/config/controllers.yaml" command="load"/>

    <param name="robot_description" textfile="$(find youbot_description)/robots/youbot.urdf"/>

    <node name="youbot_control_node" pkg="youbot_control" type="youbot_control_node" output="screen"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
        args="
             /youbot/controller/youbot_state
             /youbot/controller/youbot_trajectory  
    "/>
</launch>